name: CI

on: [push, pull_request]

jobs:
  build:
    strategy:
      fail-fast: false
      # Test Linux, macOS and Windows with the oldest and newest supported OCaml
      # and trunk.
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        ocaml-version:
          - "4.06"
          - "4.14"
          - "5.2"
          - "ocaml-variants.5.3.0+trunk"

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set-up OCaml ${{ matrix.ocaml-version }}
        uses: ocaml/setup-ocaml@v3.0.0-beta
        with:
          ocaml-compiler: ${{ matrix.ocaml-version }}
          allow-prerelease-opam: true

      # Dune (may fail with trunk)
      - name: Install dune, if possible
        id: dune
        run: opam install dune
        continue-on-error: ${{ contains(matrix.ocaml-version, '+trunk') }}

      # Dependencies
      - run: opam install . --deps-only --with-doc --with-test
      - run: opam pin add num . --no-action

      # Check building with make
      - run: opam exec -- make PROFILE=dev
      - run: opam exec -- make test
      - run: opam exec -- make clean

      # Check building with dune
      - run: opam exec -- dune build @install
        if: steps.dune.outcome == 'success'
      - run: opam exec -- dune runtest
        if: steps.dune.outcome == 'success'
      - run: opam exec -- dune clean
        if: steps.dune.outcome == 'success'

      # Check installing with opam
      - run: opam install --strict num
